{% extends "guard-member-layout.html" %} {% block membercontent
%}

<div>
    <div class="content-section">
        <div class="row">
            <div class="col-md-12">

                <div>
                    <form method="POST" action="">
                        {{ addRecordForm.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add Record</legend>
                            <div class="form-group">
                                {{ addRecordForm.title.label(class="form-control-label") }}
            
                                {% if addRecordForm.title.errors %}
                                    {{ addRecordForm.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in addRecordForm.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ addRecordForm.title(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ addRecordForm.note.label(class="form-control-label") }}
            
                                {% if addRecordForm.note.errors %}
                                    {{ addRecordForm.note(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in addRecordForm.note.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ addRecordForm.note(class="form-control form-control-lg") }}
                                {% endif %}
                            </div> <div class="form-group">
                                {{ addRecordForm.member_id.label(class="form-control-label") }}
            
                                {% if addRecordForm.member_id.errors %}
                                    {{ addRecordForm.member_id(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in addRecordForm.member_id.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ addRecordForm.member_id(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                         
                        </fieldset>
                        <div class="form-group">
                            {{ addRecordForm.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
                {% if records %}
                {% for r in records %}
                <div class="card">
                    <h5 class="card-header">{{r.id}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{{r.title}}</h5>
                        <p class="card-text">{{r.note}}</p>
                    </div>
                </div> {% endfor %}

                {% endif %}

            </div>

        </div>

    </div>

</div>

{% endblock membercontent %}