{% extends "guard-member-layout.html" %} {% block membercontent
%}

<div>
    <div class="content-section">
        <div class="row">
            <div class="col-md-12">
                {% if member_id == None %}
                       
                <form method="GET" enctype="multipart/form-data">
                    {{ searchform.hidden_tag() }}
                    <fieldset class="searchform-group">
                        <legend class="border-bottom mb-4">Search Member </legend>
                        <div class="searchform-group">
                            {{ searchform.email.label(class="searchform-control-label") }}
                            {% if searchform.email.errors %}
                            {{ searchform.email(class="searchform-control searchform-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in searchform.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ searchform.email(class="searchform-control searchform-control-lg") }}
                            {% endif %}
                        </div>
                        
                    </fieldset>
                    <div class="searchform-group">
                        {{ searchform.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
                {% elif member_id != None %}
                        <div>
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Member Info</legend>
                                    <div class="form-group">
                                        {{ form.fname.label(class="form-control-label") }}
        
                                        {% if form.fname.errors %}
                                        {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.fname.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.fname(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.mname.label(class="form-control-label") }}
        
                                        {% if form.mname.errors %}
                                        {{ form.mname(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.mname.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.mname(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.lname.label(class="form-control-label") }}
        
                                        {% if form.lname.errors %}
                                        {{ form.lname(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.lname.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.lname(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.email.label(class="form-control-label") }}
                                        {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.picture.label() }}
                                        {{ form.picture(class="form-control-file") }}
                                        {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-outline-info") }}
                                </div>
                            </form>
                        </div>
                {% else %}
                      <div>Some thing wrong</div>
                {% endif %}
                

            

            </div>
          
        </div>

    </div>

</div>

{% endblock membercontent %}